# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings



# Node ENV
NODE_ENV="development"

# GLOBAL APP CONFIG 
APP_URL_HOST='localhost'
APP_URL_PORT='3344'

# SSL
SSL_ALLOW='false'
SSL_PRIVATE_KEY='/etc/letsencrypt/live/mydomain/privkey.pem'
SSL_CERTIFICATE='/etc/letsencrypt/live/mydomain/cert.pem'

# API
API_PREFIX='api'
API_JSON_LIMIT='5mb'
API_EXT_URLENCODED='false'

# CORS
# CORS_ALLOW_ORIGINS=['*']
CORS_ALLOW_ORIGINS=["http://localhost:5173", "http://localhost:3344", "http://example3.com"]


# JWT
JWT_SECRET_USER='mysecretuser'
JWT_SECRET_ADMIN='mysecretadmin'
JWT_SECRET_APP='mysecretapp'
JWT_EXPIRED_IN='5s'
JWT_MOBILE_EXPIRED_IN='30d'
JWT_REFRESH_TOKEN_SECRET="16b53ba9-f43e-4b02-9fba-559678bd598d"
JWT_ACCESS_TOKEN_SECRET="16b53ba9-f43e-4b02-9fba-559678bd598d"
JWT_REFRESH_EXPIRED_IN="1d"

# BCRYPT
BCRYPT_SALTROUNDS='10'

# BCRYPT
PWD_LENGTH='8'

# RATE LIMIT
RATE_LIMIT_MAX='100'
RATE_LIMIT_WINDOW='15' 

# DEBUG
DEBUG_HTTP_REQUEST='true'
DEBUG_HTTP_CONNECTION='false'

# DATABASE
# DATABASE_URL="postgresql://audrey:audrey@localhost:5432/mydb?sslmode=require&schema=public"
DATABASE_URL="postgresql://toi:tonmotdepasse@localhost:5432/miabe?schema=public"

# EMAIL
EMAIL_USER=''
EMAIL_PASSWORD=''
EMAIL_SERVICE='gmail'
EMAIL_OAUTH_CLIENT_ID=''
EMAIL_OAUTH_CLIENT_SECRET=''
EMAIL_OAUTH_REFRESH_TOKEN=''
EMAIL_OAUTH_REDIRECT='https://developers.google.com/oauthplayground'


# OTP
OTP_EXPIRED_IN='3min'
OTP_HASH_SECRET=''




# VONAGE
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_TO_NUMBER=
VONAGE_BRAND_NAME="Vonage APIs"